@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  85% {
    opacity: 0.9;
    transform: translateX(2%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes burger {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(0); } }

@keyframes appear {
  0% {
    transform: scaleY(0.0001) scaleX(0);
    opacity: 0; }
  50% {
    transform: scaleY(0.0001) scaleX(1);
    opacity: 0.5; }
  100% {
    transform: scaleY(1) scaleX(1);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150%); }
  85% {
    opacity: 1;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  85% {
    opacity: 1;
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(1) scaleX(1); } }

@keyframes zoomIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes heart {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }
  @media only screen and (orientation: landscape) {
    html {
      font-size: 65%; } }
  @media only screen and (orientation: portrait) and (min-width: 768px) {
    html {
      font-size: 85%; } }
  @media only screen and (orientation: landscape) and (min-width: 900px) {
    html {
      font-size: 95%; } }
  @media only screen and (orientation: portrait) and (min-width: 1024px) {
    html {
      font-size: 110%; } }
  @media only screen and (min-width: 1280px) {
    html {
      font-size: 115%; } }
  @media only screen and (min-width: 1600px) {
    html {
      font-size: 120%; } }

body {
  position: absolute;
  width: 100%;
  height: 100%; }

.body--modal {
  overflow-y: hidden; }

.clearfix::after {
  clear: both;
  content: '';
  display: table; }

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 1600px) {
    .container {
      max-width: 1440px;
      margin-right: auto;
      margin-left: auto; } }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-right-text {
  text-align: right; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem; }

.u-margin-bottom-small-2x {
  margin-bottom: 1.5rem; }

.u-margin-bottom-small {
  margin-bottom: 0.75rem; }

.u-margin-bottom-xs {
  margin-bottom: 0.4rem; }

.hr {
  width: 75%;
  align-self: center;
  border: none;
  height: 0.2rem;
  opacity: 0.75;
  background-color: #2e3135; }
  .hr--short {
    width: 50%; }
  .hr--thick {
    height: 0.75rem; }
  .hr--red {
    background-color: red; }

.heading-primary {
  color: #324050;
  display: inline-block;
  margin-left: 5%; }
  .heading-primary__wrapper {
    width: 100%; }
  .heading-primary--main {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.10rem;
    animation: moveInRight 2s ease-in-out 200ms; }
  .heading-primary--sub {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    margin-left: 6rem;
    animation: moveInBottom 2s ease-in-out 200ms; }

.heading-secondary {
  color: #2e3135;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700; }
  .heading-secondary--sub {
    font-size: 2.5rem;
    font-weight: 600; }

.heading-tertiary {
  color: #2e3135;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400; }

.heading-quaternary {
  color: #2e3135;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 600; }

.text-small {
  color: #2e3135;
  font-size: 1.65rem; }

.text-xs {
  color: #2e3135;
  font-size: 1.25rem; }
  @media only screen and (min-width: 730px) and (orientation: landscape) {
    .text-xs {
      font-size: 1.75rem; } }
  @media only screen and (orientation: portrait) and (min-width: 768px) {
    .text-xs {
      font-size: 1.75rem; } }

header {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #324050;
  z-index: 5;
  margin-top: 1rem; }

.header--closed {
  display: none; }

.about-box {
  padding-top: 5rem;
  width: 100%;
  text-align: center;
  width: 100%;
  text-align: center; }
  .about-box__text {
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .about-box__image {
    width: 100%;
    position: relative; }
    .about-box__image--historical {
      width: 100%;
      max-width: 100%;
      margin-bottom: -0.5rem; }
  .about-box__text-box {
    width: 75%;
    height: 12%;
    padding: 0 0.2rem 0 0.2rem;
    background-color: rgba(238, 238, 238, 0.5);
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #eeeeee;
    border-radius: 0.4rem; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100rem;
  align-self: center;
  font-size: 1.75rem;
  padding: 1.5rem 3rem;
  background-color: #898b8d;
  color: #fff;
  font-weight: 500;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.45);
  transition: all 0.5s ease-in-out;
  -webkit-appearance: none; }
  .btn:hover {
    transform: translateY(0.15rem);
    box-shadow: 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.45);
    background-color: #707273; }
  .btn:active {
    transform: translateY(0.25rem);
    box-shadow: 0.6rem 0.6rem 1.75rem rgba(0, 0, 0, 0.45);
    outline: none; }
  .btn--submit {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100rem;
    align-self: center;
    font-size: 1.75rem;
    padding: 1.5rem 3rem;
    background-color: #1b4edb;
    color: #fff;
    font-weight: 500;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.45);
    transition: all 0.5s ease-in-out;
    -webkit-appearance: none; }
    .btn--submit:hover {
      transform: translateY(0.15rem);
      box-shadow: 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.45);
      background-color: #153eae; }
    .btn--submit:active {
      transform: translateY(0.25rem);
      box-shadow: 0.6rem 0.6rem 1.75rem rgba(0, 0, 0, 0.45);
      outline: none; }
  .btn--red {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100rem;
    align-self: center;
    font-size: 1.75rem;
    padding: 1.5rem 3rem;
    background-color: red;
    color: #fff;
    font-weight: 500;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.45);
    transition: all 0.5s ease-in-out;
    -webkit-appearance: none; }
    .btn--red:hover {
      transform: translateY(0.15rem);
      box-shadow: 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.45);
      background-color: #cc0000; }
    .btn--red:active {
      transform: translateY(0.25rem);
      box-shadow: 0.6rem 0.6rem 1.75rem rgba(0, 0, 0, 0.45);
      outline: none; }

.footer__link {
  text-decoration: none;
  color: #2e3135; }
  .footer__link:hover {
    color: red; }

.footer-main {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #898b8d;
  text-align: center; }
  .footer-main__link {
    text-decoration: none; }
  .footer-main__sitemap {
    display: flex;
    flex-direction: column; }

.footer-social {
  background-color: #bfc3c7;
  padding: 1rem; }
  .footer-social__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .footer-social__icon {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    transition: all 500ms ease-in-out; }
    .footer-social__icon:hover {
      transform: scale(1.15);
      filter: saturate(2); }

.form {
  display: none; }
  .form__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .form--active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.25rem 0.75rem 1.25rem 0.75rem;
    background-color: rgba(238, 238, 238, 0.6);
    font-size: 1.5rem;
    border-radius: 0.5rem; }
    @media only screen and (orientation: landscape) {
      .form--active {
        height: 200%;
        padding: 1.5rem; } }
    @media only screen and (orientation: portrait) and (min-width: 768px) {
      .form--active {
        height: 100%; } }
    @media only screen and (orientation: landscape) and (min-width: 900px) {
      .form--active {
        height: 100%; } }

input[type=radio] {
  visibility: hidden;
  -moz-appearance: radio;
  position: relative;
  height: 1.75rem;
  width: 1.75rem;
  margin: 0; }
  input[type=radio]::before {
    visibility: visible;
    content: '';
    cursor: pointer;
    position: absolute;
    top: -0.2rem;
    left: 0;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50rem;
    background-color: #bfc3c7; }
  input[type=radio]::after {
    visibility: visible;
    content: '';
    cursor: pointer;
    position: absolute;
    top: -0.2rem;
    left: 0;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50rem; }
  input[type=radio]:checked::after {
    visibility: visible;
    content: '';
    cursor: pointer;
    position: absolute;
    top: -0.2rem;
    left: 0;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50rem;
    background-color: #1b4edb;
    transform: scale(1.075);
    transition: all 1.75s; }

.radio {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .radio__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .radio__label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1rem; }
  .radio__span {
    width: 0.75rem; }

.input {
  width: 100%;
  position: relative; }
  .input__field {
    outline: none;
    width: 100%;
    padding: 0.6rem 2rem 0.5rem 3.25rem;
    box-shadow: 0.5rem 0.2rem 1rem #bfc3c7;
    font-size: 1.75rem;
    border: 0.2rem #898b8d solid;
    border-radius: 0.3rem; }
    .input__field:focus {
      border: 0.25rem #898b8d solid;
      background-color: #eeee9d;
      font-weight: 500; }
    .input__field--textarea {
      font-family: "Roboto", sans-serif;
      font-size: 1.75rem; }
  .input__icon {
    position: absolute;
    top: 0.6rem;
    left: 0.65rem;
    font-size: 2rem;
    color: #1b4edb; }
    @media only screen and (orientation: landscape) {
      .input__icon {
        top: 0.75rem; } }

.modal {
  display: none; }
  .modal--active {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 90%;
    max-width: 1100px;
    max-height: 650px;
    text-align: center;
    background-color: #fff;
    z-index: 3;
    border: 0.25rem #898b8d solid;
    border-radius: 1rem;
    transform: translate(-50%, -50%); }
    @media only screen and (orientation: landscape) {
      .modal--active {
        height: 95%;
        width: 90%; } }
    @media only screen and (min-width: 730px) and (orientation: landscape) {
      .modal--active {
        height: 90%;
        width: 95%; } }
    @media only screen and (orientation: portrait) and (min-width: 768px) {
      .modal--active {
        width: 90%;
        height: 80%;
        max-height: 1000px; } }
    @media only screen and (orientation: landscape) and (min-width: 900px) {
      .modal--active {
        width: 85%;
        height: 100%;
        max-height: 1000px; } }
    @media only screen and (orientation: landscape) and (min-width: 1100px) {
      .modal--active {
        width: 80%;
        height: 90%; } }
  .modal__content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    border-radius: 1rem; }

.modal-overlay {
  display: none; }
  .modal-overlay--active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 120%;
    width: 100%;
    z-index: 2;
    background-color: rgba(191, 195, 199, 0.8); }

.nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .nav__logo {
    padding-left: 1rem;
    height: 4.5rem; }
  .nav__logo-text {
    color: #324050;
    font-size: 1.35rem;
    letter-spacing: 0.15rem;
    padding-left: 0.65rem;
    font-weight: 400; }
  .nav__wrapper {
    display: none; }
    @media only screen and (min-width: 1280px) {
      .nav__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        height: 4rem;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%; } }
    .nav__wrapper--mobile {
      position: fixed;
      top: 0;
      left: 0;
      height: calc(100% + 55px);
      width: 100%;
      background-color: #fff; }
      @media only screen and (orientation: landscape) {
        .nav__wrapper--mobile {
          height: calc(100% + 55px); } }
      @media only screen and (min-width: 1280px) {
        .nav__wrapper--mobile {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-end;
          position: absolute;
          height: 4rem;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-color: transparent; } }
  .nav__list {
    display: block;
    list-style-type: none;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    @media only screen and (min-width: 1280px) {
      .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        right: 0;
        margin-right: 1rem;
        max-width: 70%;
        height: 100%;
        font-size: 2rem; } }
  .nav__item:hover {
    background: #eeeeee;
    transition: all 0.25s ease-in-out; }
    @media only screen and (min-width: 1280px) {
      .nav__item:hover {
        background: transparent; } }
  .nav__link {
    font-size: 3rem;
    text-decoration: none;
    color: #2a2c2c;
    margin-left: 1.5rem;
    padding: 0.25rem;
    position: relative; }
    @media only screen and (orientation: landscape) {
      .nav__link {
        font-size: 2.5rem; } }
    @media only screen and (orientation: portrait) and (min-width: 768px) {
      .nav__link {
        font-size: 3.5rem; } }
    @media only screen and (min-width: 1280px) {
      .nav__link {
        font-size: 1.5rem; }
        .nav__link::after {
          content: '';
          position: absolute;
          bottom: 3px;
          left: 0;
          width: 0;
          height: 2px;
          transition: width 0.25s ease-in; }
        .nav__link:hover::after {
          background: black;
          width: 100%; } }
    @media only screen and (min-width: 1600px) {
      .nav__link {
        font-size: 2.25rem; } }
    .nav__link--logo {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center;
      z-index: 10; }
  .nav__toggler {
    display: inline-block;
    cursor: pointer;
    height: 3rem;
    width: 3.5rem;
    text-decoration: none;
    margin-right: 4%; }
    @media only screen and (min-width: 1280px) {
      .nav__toggler {
        display: none; } }
  .nav__toggler-wrapper {
    height: 3rem;
    width: 3.5rem;
    position: absolute;
    top: 0; }
    @media only screen and (min-width: 1280px) {
      .nav__toggler-wrapper {
        display: none; } }
  .nav__burger {
    content: '';
    position: absolute;
    height: 0.2rem;
    width: 3.5rem;
    background-color: #324050;
    top: 1.5rem;
    cursor: pointer; }
    .nav__burger::before {
      content: '';
      position: absolute;
      height: 0.2rem;
      width: 3.5rem;
      background-color: #324050;
      top: -0.9rem;
      transition: all 275ms ease-in-out; }
    .nav__burger::after {
      content: '';
      position: absolute;
      height: 0.2rem;
      width: 3.5rem;
      background-color: #324050;
      bottom: -0.9rem;
      transition: all 275ms ease-in-out; }
  .nav__burger--active {
    background-color: transparent;
    animation: burger 400ms forwards; }
    .nav__burger--active::before, .nav__burger--active::after {
      top: 0; }
    .nav__burger--active::before {
      transform: rotate(45deg); }
    .nav__burger--active::after {
      transform: rotate(-45deg); }

.services-range {
  height: 20%;
  padding-top: 5rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 1280px) {
    .services-range {
      max-height: 27rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .services-range__img {
    width: 10rem;
    animation: heart 1.5s ease-in-out infinite; }
    @media only screen and (min-width: 1280px) {
      .services-range__img {
        width: 7rem; } }

@media only screen and (min-width: 1280px) {
  #services-box--2 {
    width: 60%;
    order: 1;
    padding-bottom: 0; } }

.services-box {
  padding-top: 5rem;
  width: 100%;
  text-align: center; }
  @media only screen and (min-width: 1280px) {
    .services-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end; } }
  .services-box__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem; }
    @media only screen and (min-width: 1280px) {
      .services-box__text {
        width: 60%;
        order: 2;
        padding-bottom: 0; } }
  .services-box__image {
    width: 100%;
    position: relative; }
    @media only screen and (min-width: 1280px) {
      .services-box__image {
        order: 1;
        width: 100%;
        padding-bottom: 2rem; } }
    .services-box__image--apply {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
    .services-box__image--hire {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
  .services-box__btn-wrapper--1 {
    position: absolute;
    top: 30%;
    right: 5%; }
    @media only screen and (orientation: landscape) {
      .services-box__btn-wrapper--1 {
        right: 15%;
        transform: scale(1.3); } }
    @media only screen and (orientation: portrait) and (min-width: 768px) {
      .services-box__btn-wrapper--1 {
        right: 10%;
        transform: scale(1.25); } }
    @media only screen and (min-width: 1280px) {
      .services-box__btn-wrapper--1 {
        right: 5%;
        transform: scale(0.85); } }
  .services-box__btn-wrapper--2 {
    position: absolute;
    top: 40%;
    left: 5%; }
    @media only screen and (orientation: landscape) {
      .services-box__btn-wrapper--2 {
        left: 7%;
        transform: scale(1.3); } }
    @media only screen and (orientation: portrait) and (min-width: 768px) {
      .services-box__btn-wrapper--2 {
        left: 7%;
        transform: scale(1.25); } }
    @media only screen and (min-width: 1280px) {
      .services-box__btn-wrapper--2 {
        left: 1%;
        transform: scale(0.85); } }

.testimonials-box {
  padding-top: 5rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../images/testimonials.jpg);
  background-size: cover;
  background-position: centre centre;
  background-repeat: no-repeat; }
  .testimonials-box__text {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.slide {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center; }
  .slide__icon {
    position: absolute;
    top: -5%;
    left: 2%; }
  .slide__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem 0 1rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 1.5s; }
    .slide__item--showing {
      opacity: 1;
      z-index: 2; }
  .slide__item-wrapper {
    width: 100%;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }

.landing {
  width: 100%;
  height: 100%;
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-position: 0 1rem;
  background-repeat: no-repeat;
  position: relative; }
  @media only screen and (orientation: landscape) {
    .landing {
      background-image: url(../images/hero-lan.jpg);
      background-size: cover; } }
  .landing__text-box {
    padding: 0.5rem 0 1.25rem;
    background-color: rgba(255, 255, 255, 0.35);
    position: absolute;
    width: 100%;
    bottom: 4%;
    animation: appear 1s ease-in-out; }

.about {
  width: 100%; }

.services {
  width: 100%; }

.testimonials {
  height: 90%;
  margin-bottom: 7rem; }
  @media only screen and (orientation: landscape) {
    .testimonials {
      height: 100%;
      margin-bottom: 0; } }
  @media only screen and (orientation: portrait) and (min-width: 768px) {
    .testimonials {
      height: 60%;
      margin-bottom: 0; } }
  @media only screen and (orientation: landscape) and (min-width: 1100px) {
    .testimonials {
      height: 70%;
      margin-bottom: 0; } }
