@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  85% {
    opacity: 0.9;
    transform: translateX(2%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes burger {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150%); }
  85% {
    opacity: 1;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  85% {
    opacity: 1;
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(1) scaleX(1); } }

@keyframes zoomIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    html {
      font-size: 90%; } }

body {
  position: absolute;
  width: 100%;
  height: 100%; }

.body--modal {
  overflow-y: hidden; }

.clearfix::after {
  clear: both;
  content: '';
  display: table; }

.container {
  width: 80%;
  margin: 0 auto; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-right-text {
  text-align: right; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 0.75rem; }

.u-margin-bottom-xs {
  margin-bottom: 0.4rem; }

.hr--standard {
  width: 75%;
  align-self: center;
  border: none;
  height: 0.15rem;
  opacity: 0.6;
  background-color: #2e3135; }

.hr--short {
  width: 50%;
  align-self: center;
  border: none;
  height: 0.15rem;
  opacity: 0.6;
  background-color: #2e3135; }

.heading-primary {
  color: #2e3135; }
  .heading-primary--main {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.10rem;
    display: block;
    margin-left: 2rem;
    font-family: "Lato", sans-serif;
    animation: moveInRight 2s ease-in-out 200ms; }
    @media only screen and (orientation: landscape) {
      .heading-primary--main {
        font-size: 2.85rem; } }
    @media only screen and (min-width: 760px) {
      .heading-primary--main {
        font-size: 6rem; } }
  .heading-primary--sub {
    display: block;
    margin-left: 4rem;
    margin-top: 0.4rem;
    font-family: "Lato", sans-serif;
    font-size: 1.65rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    animation: moveInBottom 2s ease-in-out 200ms; }
    @media only screen and (orientation: landscape) {
      .heading-primary--sub {
        font-size: 1.4rem; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
      .heading-primary--sub {
        font-size: 2.5rem; } }

.heading-secondary {
  color: #2e3135;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600; }

.heading-tertiary {
  color: #2e3135;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500; }
  .heading-tertiary--form {
    font-weight: 400;
    font-style: 1rem; }

.heading-quaternary {
  color: #2e3135;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 500; }

.text-small {
  color: #2e3135;
  font-size: 1.55rem; }
  .text-small--form {
    font-size: 1.25rem; }

.text-xs {
  color: #2e3135;
  font-size: 1.25rem; }

header {
  height: 7vh;
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  color: #324050;
  font-size: 2.2rem;
  z-index: 5; }
  @media only screen and (orientation: landscape) {
    header {
      height: calc(1.5*7vh); } }

.header--closed {
  display: none; }

.about-box {
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  background-color: #eeeeee;
  text-align: center; }
  .about-box__text {
    height: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about-box__image {
    height: 50%;
    width: 100%;
    background-image: url(../images/historical.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
    @media only screen and (orientation: landscape) {
      .about-box__image {
        background-position: 0 17%;
        background-repeat: no-repeat; } }
  .about-box__text-box {
    width: 75%;
    height: 15%;
    padding: 0 0.2rem 0 0.2rem;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around; }

.btn:link, .btn:visited {
  display: inline-block;
  color: #324050;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 100rem;
  max-width: 20rem;
  align-self: center;
  transition: all 200ms;
  box-shadow: 1rem 1rem 2rem rgba(137, 139, 141, 0.8); }

.btn:hover {
  transform: translateY(0.1rem);
  box-shadow: 0.9rem 0.9rem 1.85rem rgba(137, 139, 141, 0.8); }

.btn:active {
  box-shadow: 0.75rem 0.75rem 1.5rem rgba(137, 139, 141, 0.8); }

.btn--apply {
  background-color: red;
  position: absolute;
  bottom: 50%;
  right: 5%; }
  @media only screen and (orientation: landscape) {
    .btn--apply {
      bottom: 50%;
      right: 5%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .btn--apply {
      right: 12%; } }

.btn--hire {
  background-color: red;
  position: absolute;
  bottom: 40%;
  left: 2%; }
  @media only screen and (orientation: landscape) {
    .btn--hire {
      bottom: 40%;
      left: 0; } }

.btn--submit {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.3rem 0.7rem;
  max-width: 10rem;
  align-self: center;
  box-shadow: 0.5rem 0.5rem 1rem rgba(46, 49, 53, 0.5);
  background-color: #1b4edb;
  color: #fff;
  border: 0.07rem red solid;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out; }
  .btn--submit:hover {
    background-color: #1846c5;
    transform: translateY(0.1rem); }
  .btn--submit:active {
    outline: none;
    transform: translateY(0.2rem);
    box-shadow: 0.3rem 0.3rem 1rem rgba(46, 49, 53, 0.7); }

.footer__link {
  text-decoration: none;
  color: #2e3135; }
  .footer__link:hover {
    color: red; }

.footer-main {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #898b8d;
  text-align: center; }
  .footer-main__link {
    text-decoration: none; }
  .footer-main__sitemap {
    display: flex;
    flex-direction: column; }

.footer-social {
  display: flex;
  justify-content: space-evenly;
  background-color: #bfc3c7;
  padding: 1rem; }
  .footer-social__icon {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    transition: all 500ms ease-in-out; }
    .footer-social__icon:hover {
      transform: scale(1.15);
      filter: saturate(2); }

.form {
  display: none; }
  .form--active {
    width: 100%;
    height: 100%;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    background-color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1.5rem; }
    @media only screen and (orientation: landscape) {
      .form--active {
        height: 140%; } }

.position {
  display: flex;
  justify-content: space-around; }
  .position__radio {
    position: relative;
    visibility: hidden; }
    .position__radio:after {
      cursor: pointer;
      visibility: visible;
      content: '';
      position: absolute;
      top: 0;
      left: -0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50rem;
      background: #898b8d; }
    .position__radio:checked:after {
      cursor: pointer;
      visibility: visible;
      content: '';
      position: absolute;
      top: 0;
      left: -0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      border: 0.07rem solid red;
      background-color: #1b4edb; }

.input {
  width: 100%;
  position: relative; }
  .input__field {
    outline: none;
    width: 100%;
    padding: 0.6rem 2rem 0.5rem 3rem;
    box-shadow: 0.5rem 0.2rem 1rem rgba(137, 139, 141, 0.7);
    font-size: 1.5rem;
    border: 0.2rem #898b8d solid;
    border-radius: 0.3rem; }
    .input__field:focus {
      border: 0.25rem red solid;
      background: rgba(238, 238, 238, 0.5); }
    .input__field--textarea {
      font-family: "Roboto", sans-serif; }
  .input__icon {
    position: absolute;
    top: 0.5rem;
    left: 0.65rem;
    font-size: 2rem;
    color: #1b4edb; }

.nav {
  position: fixed;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .nav__logo {
    height: calc(0.85*7vh);
    padding-left: 1.5rem;
    padding-top: 0.25rem; }
    @media only screen and (orientation: landscape) {
      .nav__logo {
        height: calc(1.35*7vh); } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
      .nav__logo {
        height: calc(0.7*7vh); } }
  .nav__logo-text {
    letter-spacing: 0.3rem;
    padding-left: 0.65rem;
    font-weight: 400;
    color: #324050;
    font-size: calc(0.22*7vh); }
    @media only screen and (orientation: landscape) {
      .nav__logo-text {
        font-size: calc(0.45*7vh); } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
      .nav__logo-text {
        font-size: calc(0.2*7vh); } }
  .nav__list {
    display: none; }
    @media only screen and (min-width: 1024px) {
      .nav__list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%; } }
    .nav__list--mobile {
      list-style-type: none;
      background-image: linear-gradient(to right bottom, #eeeeee, #bfc3c7, #898b8d);
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      position: fixed;
      top: 0;
      height: calc(100% + 5.5rem);
      animation: dropDown 600ms ease-in-out;
      font-size: 3rem;
      padding-top: 25rem; }
      @media only screen and (min-height: 800px) {
        .nav__list--mobile {
          padding-top: 30rem; } }
      @media only screen and (min-width: 1024px) {
        .nav__list--mobile {
          position: absolute;
          right: 0;
          background-image: none;
          max-width: 70%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          padding-top: 0;
          height: 100%;
          font-size: 2rem;
          animation: none; } }
      @media only screen and (orientation: landscape) {
        .nav__list--mobile {
          padding-top: 8rem; } }
  .nav__item {
    display: flex;
    text-align: center; }
    @media only screen and (min-width: 1024px) {
      .nav__item {
        margin-left: 1.5rem;
        height: 100%;
        display: flex;
        justify-content: flex-end; } }
  .nav__link {
    text-decoration: none;
    color: #2a2c2c;
    width: 100vw;
    padding: 0 1rem;
    animation: moveInLeft 900ms ease-in-out;
    transition: all 200ms ease-in-out; }
    @media only screen and (min-width: 1024px) {
      .nav__link {
        width: 100%;
        display: flex;
        align-items: center; } }
    .nav__link:hover {
      background-color: rgba(238, 238, 238, 0.5);
      transform: scale(1.2); }
    .nav__link:active {
      background-color: rgba(238, 238, 238, 0.5);
      transform: scale(1.2);
      margin-top: 0; }
    .nav__link--logo {
      height: 7vh;
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center;
      z-index: 10; }
  .nav__toggler {
    display: block;
    cursor: pointer;
    padding: 1.1rem 4rem 1.5rem 0rem;
    height: 0.3rem;
    width: 3.5rem;
    text-decoration: none;
    margin-right: 4%; }
    @media only screen and (min-width: 1024px) {
      .nav__toggler {
        display: none; } }
  .nav__burger {
    content: '';
    position: absolute;
    height: 0.3rem;
    width: 3.5rem;
    background-color: #324050; }
    .nav__burger::before {
      content: '';
      position: absolute;
      height: 0.3rem;
      width: 3.5rem;
      background-color: #324050;
      top: -0.9rem;
      transition: all 275ms ease-in-out; }
    .nav__burger::after {
      content: '';
      position: absolute;
      height: 0.3rem;
      width: 3.5rem;
      background-color: #324050;
      bottom: -0.9rem;
      transition: all 275ms ease-in-out; }
  .nav__burger--active {
    background-color: transparent;
    animation: burger 400ms forwards; }
    .nav__burger--active::before, .nav__burger--active::after {
      top: 0; }
    .nav__burger--active::before {
      transform: rotate(45deg); }
    .nav__burger--active::after {
      transform: rotate(-45deg); }

.modal {
  display: none; }
  .modal--active {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 90%;
    text-align: center;
    background-color: #fff;
    z-index: 3;
    border: 0.5rem #898b8d solid;
    border-radius: 2rem; }
  .modal__content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    border-radius: 1.5rem; }

.modal-overlay {
  display: none; }
  .modal-overlay--active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(191, 195, 199, 0.8); }

.services-box {
  height: 50%;
  width: 100%;
  text-align: center; }
  .services-box:last-child {
    background-color: #eeeeee;
    padding-top: 2rem; }
  @media only screen and (orientation: landscape) {
    .services-box {
      display: flex; } }
  .services-box__text {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem 0 1rem; }
    @media only screen and (orientation: landscape) {
      .services-box__text {
        width: 50%;
        height: 100%;
        padding: 0 2rem 0 1rem;
        order: 1; } }
  .services-box__image--apply {
    position: relative;
    height: 50%;
    background-image: url(../images/applicant.png);
    background-size: cover;
    background-position: left top; }
    @media only screen and (orientation: landscape) {
      .services-box__image--apply {
        background-position: -4rem 0;
        background-repeat: no-repeat;
        width: 50%;
        height: 100%;
        padding: 0 1rem; } }
  .services-box__image--hire {
    position: relative;
    height: 50%;
    background-image: url(../images/hire.png);
    background-size: cover;
    background-position: center; }
    @media only screen and (orientation: landscape) {
      .services-box__image--hire {
        background-position: -1rem 0;
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        height: 100%;
        padding: 0 1rem;
        order: 2; } }

.slide {
  height: 65%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center; }
  .slide__icon {
    position: absolute;
    top: -3%;
    left: 2%; }
  .slide__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1rem 0 1rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 1.5s; }
    .slide__item--showing {
      opacity: 1;
      z-index: 2; }

.testimonials-box {
  height: 100%;
  width: 100%;
  background-image: url(../images/testimonials.jpg);
  background-size: cover;
  background-position: left top; }
  .testimonials-box__text {
    text-align: center;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.landing {
  width: 100%;
  height: 100%;
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  position: relative; }
  @media only screen and (orientation: landscape) {
    .landing {
      background-image: url(../images/mainLandscape.jpg);
      background-size: cover; } }
  @media only screen and (min-width: 760px) {
    .landing {
      background-image: url(../images/mainBig.jpg);
      background-size: cover;
      background-position: -25rem 2rem;
      background-repeat: no-repeat; } }
  .landing__text-box {
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.35);
    position: absolute;
    width: 100%;
    bottom: 8%; }
    @media only screen and (orientation: landscape) {
      .landing__text-box {
        bottom: 3%; } }

.about {
  width: 100%;
  height: 120%; }
  @media only screen and (orientation: landscape) {
    .about {
      height: 150%; } }

.services {
  width: 100%;
  height: 240%; }

.testimonials {
  height: 80%;
  margin-bottom: 5rem; }
  @media only screen and (orientation: landscape) {
    .testimonials {
      height: 130%;
      margin-bottom: 0; } }
