.heading-primary {
   color: $color-logo;
   display: inline-block;
   margin-left: 5%;
   
      &__wrapper {
         width: 100%;
      }
    
      &--main {
         display: inline-block;
         font-family: $font-secondary;
         font-size: 4rem;
         font-weight: 900;
         letter-spacing: 0.10rem;
         animation: moveInRight 2s ease-in-out 200ms;
      }

      &--sub {
         display: inline-block;
         font-family: $font-secondary;
         font-size: 1.5rem;
         font-weight: 600;
         letter-spacing: 0.02rem;
         margin-left: 6rem;
         animation: moveInBottom 2s ease-in-out 200ms;
      }
}

.heading-secondary {
   color: $color-black;
   font-size: 3rem;
   text-transform: uppercase;
   font-weight: 700;

      &--sub {
         font-size: 2.5rem;
         font-weight: 600;
      }
}

.heading-tertiary {
   color: $color-black;
   font-size: 2rem;
   text-transform: uppercase;
   font-weight: 400;
}

.heading-quaternary {
   color: $color-black;
   font-size: 1.75rem;
   text-transform: uppercase;
   font-weight: 600;
}

.text-small {
   color: $color-black;
   font-size: 1.65rem;
}

.text-xs {
   color: $color-black;
   font-size: 1.25rem;

      @include media (mob-med-lan) {
         font-size: 1.5rem;
      }

      @include media (mob-lg-lan) {
         font-size: 1.75rem;
      }

      @include media (tab-sm) {
         font-size: 1.75rem;
      }
      
}
