.about-box {
   @include box-style;
   width: 100%;
   background-color: $color-primary;
   text-align: center;      

      &__text {
         padding: 1.5rem 1.5rem 5rem 1.5rem;
         @include flex (column,center)
      }

      &__image {
         width: 100%;
         position: relative;
         
            &--historical {
               width: 100%;
               max-width: 100%;
               margin-bottom: -0.5rem;
            }

      }

      &__text-box {
         width: 75%;
         height: 12%;
         padding: 0 0.2rem 0 0.2rem;
         background-color:rgba($color-primary, 0.5);
         position: absolute;
         left: 50%;
         bottom: 5%;
         transform: translateX(-50%);  
         @include flex (column, center); 
         border: 0.1rem solid $color-primary;
         border-radius: 0.4rem;   
      }
}           
