.about-box {
   height: 100%;
   width: 100%;
   padding-top: 2rem;
   background-color: $color-primary;
   text-align: center;      

      &__text {
         height: 50%;
         padding: 1rem;
         @include flex (column,center)
      }

      &__image {
         height: 50%;
         width: 100%;
         background-image: url(../images/historical.jpg);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         position: relative;

            @media only screen and (orientation: landscape){
            background-position: 0 17%;
            background-repeat: no-repeat;
            }
      }

      &__text-box {
         width: 75%;
         height: 12%;
         padding: 0 0.2rem 0 0.2rem;
         background-color:rgba($color-primary, 0.5);
         position: absolute;
         left: 50%;
         bottom: 5%;
         transform: translateX(-50%);  
         @include flex; 
         border: 0.1rem solid $color-primary;
         border-radius: 0.4rem;    
      }
}           
