.footer {

   &__link {
      text-decoration: none;
      color: $color-black;
      
         &:hover {
            color: red;
         }
   }
}

.footer-main {
   padding-top: 2rem;
   @include flex (column);
   background-color: $color-tertiary;
   text-align: center;

      &__link {
         text-decoration: none;
      } 

      &__sitemap {
         display: flex;
         flex-direction: column;
      }

      &__office {

      }

      &__contact {

      }
}

.footer-social {
   @include flex (row, space-evenly);
   background-color: $color-secondary;
   padding: 1rem;
   
      &__icon {
         display: inline-block;
         height: 4rem;
			width: 4rem;
         transition: all 500ms ease-in-out;
         
            &:hover {
					transform: scale(1.15);
					filter: saturate(2);
            }
      }  
}

