.nav {
   position: fixed;
   top: 0;
   height: 100%;
   @include flex(row, space-between, center);
   position: relative;

   &__logo {
      padding-left: 1rem;
      height: 4rem;
      widows: 1rem;
      } 
 
   &__logo-text {
      color: $color-logo;
      font-size: 1.25rem;
      letter-spacing: 0.15rem;
      padding-left: 0.65rem;
      font-weight: 400;
   }
   
   &__list {
      display: none;
               
      @media only screen and (min-width: $breakpoint-large){
         list-style-type: none;
         @include flex (row, flex-end);
         height: 100%;
      } 

      &--mobile {
         list-style-type: none;
         background-image: linear-gradient(
            to right bottom,
            rgba($color-primary, 1),
            rgba($color-secondary, 1),
            rgba($color-tertiary, 1));
         text-align: center;
         width: 100%;
         position: fixed;
         top: 0;
         height: calc(100% + 5.5rem);
         animation: dropDown 600ms ease-in-out;
         padding-top: 22rem; 

            @media only screen and (min-height: 640px){
               padding-top: 27rem;
            }

            @media only screen and (min-height: 750px){
               padding-top: 33rem;
            }

            @media only screen and (min-height: 850px){
               padding-top: 40rem;
            }

            @media only screen and (min-height: 950px){
               padding-top: 45rem;
            }

            @media only screen and (min-height: 1050px){
               padding-top: 50rem;
            }

            @media only screen and (min-height: 1150px){
               padding-top: 45rem;
            }

            @media only screen and (min-height: 1250px){
               padding-top: 50rem;
            }
                                    
            @media only screen and (min-width: $breakpoint-large){
               @include flex (row, flex-end);
               position: absolute;
               right:0;
               background-image: none;
               max-width: 70%;   
               padding-top: 0;
               height: 100%;
               font-size: 2rem;
               animation: none
            }

            @media only screen and (orientation: landscape){
               padding-top: 8rem;
            }
      }
   }

   &__link {
   font-size: 2.75rem;
   text-decoration: none;
   color: $color-text-nav;
   width: 100vw;
   padding: 0 1rem;
   animation: moveInLeft 900ms ease-in-out;
   transition: all 200ms ease-in-out;
 
      @media only screen and (min-width: $breakpoint-large){
         width: 100%;
         display: flex;
         align-items: center;
      }
     
      &:hover {
         background-color: rgba($color-primary, 0.5);
         transform: scale(1.2);
      }

      &:active {
         background-color: rgba($color-primary, 0.5);
         transform: scale(1.2);
         margin-top: 0;
      }

      &--logo {
         text-decoration: none;
         color: black; 
         display: flex;
         align-items: center;
         z-index: 10;
      }
    }
 
      &__toggler {
         display: block;
         cursor: pointer;
         height: $burger-line-height;
         width: $burger-line-width;
         text-decoration: none;
         margin-right: 4%;
                     
            @media only screen and (min-width: $breakpoint-large){
               display: none;
            }      
      }
 
      &__burger {
         content: '';
         position: absolute;
         height: $burger-line-height;
         width: $burger-line-width;
         background-color: $color-logo;
         top: 1.5rem;
         cursor: pointer;
         
            &::before {
               content: '';
               position: absolute;
               height: $burger-line-height;
               width: $burger-line-width;
               background-color: $color-logo;
               top: -0.9rem;
               transition: all 275ms ease-in-out;
            }
 
            &::after {
               content: '';
               position: absolute;
               height: $burger-line-height;
               width: $burger-line-width;
               background-color: $color-logo;
               bottom: -0.9rem;
               transition: all 275ms ease-in-out;
            }
      }
 
      &__burger--active {
         background-color: transparent;
         animation: burger 400ms forwards;
         &::before, &::after {
         top: 0;
         }
         &::before {
         transform: rotate(45deg)
         }
         &::after {
         transform: rotate(-45deg)
         }      
      }
}
 