.products-box {
  height: 60%;
  width: 100%;
  padding: 0.5rem;
  text-align: center; 
    &:last-child {
      background-color: $color-primary
    }
    &__text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &__image {
      display: none;
    }
}