.services-range {
   height: 20%;
   @include box-style;
   @include flex (column, center);

      @include media (desktop-sm) {
         max-height: 27rem;
         @include flex (column, center, center);
      }

      &__img {
         width: 10rem;
         animation: heart 1.5s ease-in-out infinite;

            @include media (desktop-sm) {
               width: 7rem;
            }
      }
}

#services-box--2 {
   @include media (desktop-sm) {
      width: 60%;
      order: 1;
      padding-bottom: 0;
   }
}

.services-box {
   @include box-style;

      @include media (desktop-sm) {
         @include flex (row, space-between, flex-end);
      }

      &__text {
         @include flex (column, space-evenly);
         padding: 1.5rem;

            @include media (desktop-sm) {
               width: 60%;
               order: 2;
               padding-bottom: 0;
            }
      }

      &__image {
         width: 100%;
         position: relative;

            @include media (desktop-sm) {
               order: 1;
               width: 100%;
               padding-bottom: 2rem;
            }
            

            &--apply {
               width: 100%;
               @include flex (row, flex-start);
            }

            &--hire {
               width: 100%;
               @include flex (row, flex-end);

                  // @include media (desktop-sm) {
                  //    width: 75%;
                  // }
            }
      }  

      &__btn-wrapper {
         
         &--1 {
            position: absolute;
            top: 30%;
            right: 5%;

               @include media (mob-lan) {
                  right: 15%;
                  transform: scale(1.3);
               }

               @include media (tab-sm) {
                  right: 10%;
                  transform: scale(1.25);
               }

               @include media (desktop-sm) {
                  right: 5%;
                  transform: scale(0.85);
               }

               
         }

            &--2 {
               position: absolute;
               top: 40%;
               left: 5%;

                  @include media (mob-lan) {
                     left: 7%;
                     transform: scale(1.3);
                  }

                  @include media (tab-sm) {
                     left: 7%;
                     transform: scale(1.25);
                  }

                  @include media (desktop-sm) {
                     left: 1%;
                     transform: scale(0.85);
                  }
            }
      }
}




   
   
