.services-range {
   height: 20%;
   @include box-style;
   @include flex (column, center);

      &__img {
         width: 10rem;
         animation: heart 1.5s ease-in-out infinite;
      }
}

.services-box {
   @include box-style;

      &__btn-wrapper {
         
         &--1 {
            position: absolute;
            top: 30%;
            right: 5%;

               @include media (mob-lan) {
                  right: 15%;
                  transform: scale(1.3);
               }

               @include media (tab-sm) {
                  right: 10%;
                  transform: scale(1.25);
               }

               @include media (desktop-sm) {
                  right: 25%;
                  transform: scale(1.2);
               }

               
         }

            &--2 {
               position: absolute;
               top: 40%;
               left: 5%;

                  @include media (mob-lan) {
                     left: 7%;
                     transform: scale(1.3);
                  }

                  @include media (tab-sm) {
                     left: 7%;
                     transform: scale(1.25);
                  }
            }
      }
   
      &__text {
         @include flex (column, space-evenly);
         padding: 1.5rem;
      }

      &__image {
         width: 100%;
         position: relative;

            &--apply {
               width: 100%;
               @include flex (row, flex-start);

                  @include media (desktop-sm) {
                     width: 75%;
                  }
            }

            &--hire {
               width: 100%;
               @include flex (row, flex-end);

                  // @include media (desktop-sm) {
                  //    width: 75%;
                  // }
            }
      }  
}




   
   
