.services-box {
  height: calc(50% + 5.5rem);
  width: 100%;
  text-align: center; 
    &:last-child {
      background-color: $color-primary;
      padding-top: 2rem;
    }
    &__text {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5rem 1rem 0 1rem;
    }
    &__image {
        &--apply {
          position: relative;
          height: 50%;
          background-image: url(../images/applicant.png);
          background-size: cover;
          background-position: left top;
        }
        &--hire {
          position: relative;
          height: 50%;
          background-image: url(../images/hire.png);
          background-size: cover;
          background-position: center;
        }
    }
}