.landing {
   width: 100%;
   height: 100%;
   background-image: url(../images/main.jpg);
   background-size: cover;
   background-position: 0 1rem;
   background-repeat: no-repeat;
   position: relative;

      @include media (mobile-med-lan) {
         background-image: url(../images/mainLandscape.jpg);
         background-size: cover;
      }

      @include media (mobile-lg-lan) {
         background-image: url(../images/mainLandscape.jpg);
         background-size: cover;
      }

      &__text-box {
         padding: 1rem 0 1.25rem;
         background-color:rgba(#fff, 0.35);
         position: absolute;
         width: 100%;
         bottom: 4%;
         animation: appear 1s ease-in-out;

            @include media (mobile-med-lan) {
               padding: 1rem 20% 1rem 10%;
            }

            @include media (mobile-lg-lan) {
               padding: 1rem 40% 1rem 10%;
            }
      }
}

.about {
   width: 100%;
}

.services {
   width: 100%;
}

.testimonials {
   height: 90%;  
   margin-bottom: 7rem;

      @include media (mobile-lan) {
            height: 130%;
            margin-bottom: 0;
         }
}



