.landing {
  width: 100%;
  height: 100%;
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-position: top left;
  position: relative;
   
    &__text-box {
      padding: 0.75rem;
      background-color:rgba(#fff, 0.25);
      position: absolute;
      width: 100%;
      bottom: 8%;
    }

    @media only screen and (min-width: $breakpoint-medium){
      background-image: url(../images/mainBig.jpg);
      background-size: cover;
      background-position: left;
    }
}

.about {
  width: 100%;
  height: 100%;
}

.services {
  width: 100%;
  height: 200%;
}

.testimonials {
  width: 100%;
  height: 60%;
  background-color: $color-primary;
}