header {
   height: 4rem;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   color: $color-logo;
   z-index: 5;
   margin-top: 1rem;

      @include media (mobile-lan) {
         padding: 1rem 0 0 1rem;
      }

      @include media (tab-large) {
         margin-top: 0.5rem;
      }
}

.header--closed {
   display: none;
}
