// flex mixin
@mixin flex($flex-direction: row, $justify-content: space-between, $align-items: center) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// radio mixin
@mixin radio {
   content: '';
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 0; 
   width: 1.75rem;
   height: 1.75rem;
   border-radius: 50rem;
}

// Media Query Manager
// 0 - 600px: Default Phone
// 600-900px: Tablet portrait
// 900-1200px: Tablet landscape  
// 1200-1800: Desktop
// 1800px + : Big Desktop

@mixin respond ($breakpoint) {
   @if $breakpoint == tab-port {
      @media (min-width: 60rem) {@content};
   }

   @if $breakpoint == tab-lan {
      @media (min-width: 90rem) {@content};
   }

   @if $breakpoint == desktop {
      @media (max-width: 120rem) {@content};
   }

   @if $breakpoint == desktop-big {
      @media (max-width: 180rem) {@content};
   }
}
